


    @* start body *@
    <section>
        <center class="m-5">
            <div class="m-3 p-5 bg-secondary-subtle text-white rounded">
                <h1>welcome to Contact Us Page</h1>
                <p>bla bla bla loream</p>
            </div>
        </center>
    </section>
    @* end body *@

