@model Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />

<form asp-action="Create">
    <partial name="Partial/CreateEditPartial" />

    <input type="submit" value="Create" class="btn btn-primary"/> |
    <a asp-action="Index" class="btn btn-light">Return To Departments</a>

</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
