@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details of Department</h1>

<div>
    <partial name="Partial/DeleteDetailsPartial" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit Departments</a> |
    <a asp-action="Index" class="btn btn-light">Return To Departments</a>


</div>


