@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Are You Sure Want to Delete this Employee ???? </h1>
<br />
<br />

<form asp-action="Delete">
    <partial name="Partial/DeleteDetailsPartial" />
    <input type="submit" value="Delete" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Return To Employees</a>
</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}

