@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details of Users</h1>
<br />
<br />

<partial name="Partial/DeleteDetailsPartial" />

<a asp-action="Index" class="btn btn-light">Return To Users</a>
