@model RoleViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details of Role</h1>
<br />
<br />

<partial name="Partial/DeleteDetailsPartial" />

<a asp-action="Index" class="btn btn-light">Return To Roles</a>
