
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@* start body *@
<section>
    <center class="m-5">
        <div class="m-3 p-5 bg-danger text-white rounded">
            <h1>welcome to Login  page</h1>
        </div>
    </center>
</section>
@* end body *@

