
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@* start body *@
<section>
    <center class="m-5">
        <div class="m-3 p-5 bg-info text-white rounded">
            <h1>welcome to Register Page</h1>
        </div>
    </center>
</section>
@* end body *@

