
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                <p>Password Reset Link has been sent to you Email , Please Check Inbox</p>
            </div>

        </div>
    </div>
</div>

